<% if @category.errors.any? %>
    <div class="alert alert-danger">
        <p><%= pluralize(@category.errors.count, "error") %>prevented if from being saved.</p>
        <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>