<div class="container" style="padding-bottom: 2%">
  <div class="row" style="font-size: 18px;margin-top: 3%">
    Positions.ideabroad.com is job and scholarships database where you can explore available opportunities for propective students, job seekers and researchers. Positions are categorised under countries and areas of interest.</div>
  <div class="row" style="margin-top: 5%; font-size: 18px">
    <div style="background-color:#dddddd; padding:10px;margin-bottom: 3%">Scholarship by countries</div>
    <div class="row" style="padding:4px">
      <% @country_name.each do |country| %>
        <div class="col-md-2 col-sm-2 col-xs-6">
                    <% name = country.name.sub( " ", "-" ) %>
                    <% name = "Scholarships-in-"+name %>
                    <%= link_to :controller => "country", :action => "index", :country => name do %>
                    <%#= link_to :country => name do %>
            <span><%= country.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 4%; font-size: 18px">
    <div style="background-color:#dddddd; padding:10px;margin-bottom: 3%">Scholarship by Subjects</div>
    <div class="row" style="padding:4px">
      <% @subjects.each do |subject| %>
                <% name = subject.name.sub( " ", "-" ) %>
                <% name = name+"-scholarships" %>
        <div class="col-md-2 col-sm-2 col-xs-6">
                    <%= link_to :controller => "singlesubjects", :action => "index", :subject => name do %>
            <span><%= subject.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>