<div class="container" style="padding-bottom: 2%">
  <div class="row" style="font-size: 18px;margin-top: 3%">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
  </div>
  <div class="row" style="margin-top: 5%; font-size: 18px">
    <div style="background-color:#dddddd; padding:10px;margin-bottom: 3%">Scholarship by countries</div>
    <div class="row" style="padding:4px">
      <% @country_name.each do |country| %>
        <div class="col-md-2 col-sm-2 col-xs-6">
                    <% name = country.name.sub( " ", "-" ) %>
                    <% name = "Scholarships-in-"+name %>
                    <%= link_to :controller => "country", :action => "index", :country => name do %>
                    <%#= link_to :country => name do %>
            <span><%= country.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 4%; font-size: 18px">
    <div style="background-color:#dddddd; padding:10px;margin-bottom: 3%">Scholarship by Subjects</div>
    <div class="row" style="padding:4px">
      <% @subjects.each do |subject| %>
                <% name = subject.name.sub( " ", "-" ) %>
                <% name = name+"-scholarships" %>
        <div class="col-md-2 col-sm-2 col-xs-6">
                    <%= link_to :controller => "singlesubjects", :action => "index", :subject => name do %>
            <span><%= subject.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>