<h1>Edit Scholarships</h1>
<%= render 'form' %>
<div style="float:right">
  <%= link_to :controller=>'pages',:action =>'index' do %>
    <div class="btn btn-primary">
      <span class="glyphicon glyphicon-menu-left"></span> Back
    </div>
  <% end %>
</div>