<div class="container">
    <div class="row">
 <div class="col-md-9 col-sm-10">

                <h1>Jobs & Scholarships</h1>

      <% @scholarships.each do |scholarship| %>
             <% name = scholarship.title.gsub( " ", "-" ) %>
          <%= link_to :controller => "singlescholarships", :action => "index", :id => name do %>
          <h2><%= scholarship.title %></h2>
          <% end %>
        <% end %>
</div>

<div class="col-md-3 col-sm-2" >
            <div style="background-color: #E0E0E0; padding:10px" class="row">
                Sidebar
            </div>
        </div>
    </div>
</div>